name: Gemini Code Assist

on:
  pull_request:
  merge_group:

permissions:
  contents: read
  pull-requests: write

jobs:
  code-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: google/gemini-code-assist-app/review@v1
